<% include ../includes/header.ejs %>

    <!-- FINAL NAV -->
    <div>
        <div class ="container min-container">
            <h2 class="basic-title">Listagem de livros</h2>
            <div class="well">

  <table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Título</th>
        <th>Preço</th>
        <th>Descrição</th>
      </tr>
    </thead>

    <tbody>
      <% livros.forEach(function (livro) { %>
      <tr>
        <td><%= livro.titulo %></td>
        <td><%= livro.preco %></td>
        <td><%= livro.descricao %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/produtos/form" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Novo livro</a>
</div>
</div>
</div>
<% include ../includes/footer.ejs %>
